* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  padding: 10px 100px;
  font-family: Arial, sans-serif;
  color: #333;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.nav-links span {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.nav-links .btn-signup {
  background-color: #16329c;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-links .btn-login {
  background-color: #e7e7e7;
  color: #333;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}
