.sidebar {
    width: 250px;
    padding: 20px;
  }
  
  .menu h6 {
    margin-bottom: 20px;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  .menu li:hover {
    color: #1507b8;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  .menu .icon {
    margin-right: 10px;
  }
  
  .menu a {
    text-decoration: none;
    color: #000;
  }
  .menu a:hover {
    color: #1507b8;
  }
  
  .try-demo {
    margin-top: 20px;
  }
  
  .try-demo button {
    width: 100%;
    padding: 10px;
    background-color: #2225e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .try-demo button:hover {
    background-color: #1f068d;
  }
  